body {
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    margin: 0;
    padding: 0;
    width: 720px;
    list-style: none;
    float: left;
    margin-bottom: 20px;
}

ul li {
    border: 1px solid red;
    float: left;
    background: url(./images/aba-direita.png) no-repeat top right;
}

li a {
    display: block;
    padding: 0 2em;
    line-height: 3em;
    text-decoration: none;
    background: url(./images/aba-esquerda.png) no-repeat top left;
}

#tabela {
    clear: both;
    width: 600px;
    border-collapse: collapse;
}

td, th {
    padding: 10px;
    
}

th{
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 90%;
    text-align: left;
    border-top: 1px solid black;
    border-bottom: 1px solid grey;
}

tr.alt {
    background-color: #efefef;
}

.valor {
    text-align: right;
}

tr:hover {
    background-color: rgb(139, 255, 255);
}