#content {
    width: 70%;
    margin: 0 auto;
}

#side {
    float: left;
    width: 25%;
}

#secondary {
    float: right;
    width: 35%;
}

#principal {
    margin-left: 27.5%;
    width: 35%;

}

h3{
    background-color: #294c71;
    color: #fff;
    padding: 5px;
}

#interviews ul{
    margin: 0;
    padding: 10px 0px;
    list-style: none;
    margin-bottom: 20px;
}

#interviews li {
    padding: 10px;
}

#interviews a:link, #interviews a:visited{
    color: black;
    text-decoration: none;
}

#interviews a:hover {
    color: #9c9b9b;
}

#newsletter {
    padding: 20px 10px;
}

#newsletter input[type="text"] {
    line-height: 25px;
    margin: 5px;
    width: 90%;
}

#newsletter input[type="submit"] {
    padding: 5px;
    margin: 5px;
    background-color: rgb(163, 0, 0);
    color: #fff;
    border: none;
    cursor: pointer;
}

.post {
    padding: 10px;
}

h4.main, h4.secondary-title {
    background-color: rgb(219, 0, 0);
    display: inline-block;
    padding: 5px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: -0.1em;
    margin-bottom: 10px;
}

h4.secondary-title {
    color: #fff;
}

.post img {
    width: 80%;
    margin-bottom: 10px;
}

.post a{
    color: rgb(219, 0, 0);
    font-weight: 600;
}

.world-news{
    padding: 10px;
    min-height: 60px;
}

.world-news img {
    width: 40%;
    float: left;
    margin-right: 10px;
}

.world-news h5 {
    text-transform: uppercase;
    font-size: 12px;
    color: rgb(93, 144, 192);
}

.world-news p{
    font-size: 12px;
}

#footer {
    clear: both;
    margin-top: 40px;
    height: 60px;
    background-color: #294c71;
    color: #fff;
    text-align: center;
}

#footer p{
    margin-right: 35%;
    padding: 20px;
}