ul {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 720px;
    background-color: #159cb0;
    background-image: url(./fundo-horizontal.png);
    background-repeat: repeat-x;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}

ul li{
    float: left;
    background: url(./divisor.png);
    background-repeat: repeat-y;
}

ul a{
    display: block;
    text-decoration: none;
    padding: 0 2em;
    line-height: 2em;
}

ul a:link, ul a:visited{
    color: #d1d1d1;
}

ul li#primeiro{
    background: none;
}

ul a:hover{
    background-color: #0c5e6b;
}

